
.boxx {
  width: 100px;
  height: 100px;
  border: 10px solid #00FF18;
  background: #760000;
  display: inline-block;
  animation: anime 4s infinite;
}

@keyframes anime {
  0% {
    background: #fff;
    width: 100px;
    height: 100px;
  }
  50% {
    background: #000;
    width: 300px;
    height: 200px;
  }
  100% {
    background: #fff;
    width: 100px;
    height: 100px;
  }
}

.parent {
  position: relative;
  width: 400px;
  height: 400px;
  border: 1px solid #ddd;
}

.rounds {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #1E00FF;
  animation: rounds 4s infinite linear;
}

@keyframes rounds {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: 300px;
  }
  50% {
    top: 300px;
    left: 300px;
  }
  75% {
    top: 300px;
    left: 0;
  }
  100% {
    top: 0;
    left: 0;
  }
}
